* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

.todo{
  position: relative;
  left: 0;
  display: flex;
  height: 86.2vh;
}

.todo__sidebar {
  background-color: white;
  width: 20%;
  height: 100%;
  /* border-right: 1px solid #f1f1f1; */
  padding: 60px 20px;
}

.todo__list__head>li {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 5px;
}

.todo__search {
    display: flex;
    align-items: center;
    width: 90%;
    padding: 10px 12px;
    background-color: #eeeeee;;
    border: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    margin-bottom: 15px;
} 

.todo__btn {
    position: fixed;
    bottom: 15px;
    align-items: center;
    width: 20%;
    padding: 10px 12px;
    color: lightgray;
    font-style: 14px;
    background: transparent;
    border: 1px solid lightgray;
    cursor: pointer;
}

.todo__tasks {
  flex: 1;
  padding: 64px;
  background-color: #eeeeee;
  height: 100%;
}

.menu {
  display: inline-block;
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 2px;
  background-color: rgb(175, 175, 175);
  margin: 3px 0;
  transition: 0.4s;
}

.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
}

.field:focus {
  border-color: #dbdbdb;
}